
html, body {
    width:100%;
    height:100%;
    margin: 0;
}
body{
    background-color: beige;
}

/* Navigation bar css */
#menu-burger a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
}
nav {
    background-color: black;
    height: 44px;
}
li {
    padding-top: 10px;
    font-size: 20px;
}

@media screen and (max-width: 600px) {
    nav {
        display: none;
        height: 170px;
    }
    ul {
        flex-direction: column;
        text-align: center;
    }
    li {
        padding-top: 16px;
    }
    .burger-menu {
        cursor: pointer;
        font-size: 26px;
        margin: 10px;
    }
}
@media screen and (min-width: 601px){
    .burger-menu {
        display: none;
    }
}
.burger-menu {
    cursor: pointer;
    font-size: 26px;
    margin: 10px;
}
.display-block {
    display: block;
}
/* End navigation bar */

/* Programmation Section CSS */

#programmation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.eventDescription {
    display: none;
}

.eventText {
    width: 15em;
}

.eventClick {
    height: 3em;
    width: 3em;
}

.dateEvent {
    font-weight: bold;
}

#event1photo, #event2photo, #event3photo {
    height: 15em;
    width: 15em
}

/* End Programmation Section*/

