html, body {
    width:100%;
    height:100%;
    margin: 0;
}

#body{
    background-color: beige;
    font-family: 'Raleway', sans-serif;
}

p {
    font-size: 1.1em;
}

/* Navigation bar css */
#menu-burger a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    margin: 0;
}
nav {
    background-color: black;
    height: 100px;
}
li {
    padding-top: 31px;
    font-size: 25px;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    nav {
        display: none;
        height: 170px;
    }
    ul {
        flex-direction: column;
        text-align: center;
    }
    li {
        padding-top: 16px;
    }
    .burger-menu {
        cursor: pointer;
        font-size: 26px;
        margin: 10px;
    }
    form {
        margin-left: 0;
    }
    input {
        width: 70%;
    }
    textarea{
        width: 70%;
    }
    button {
        padding: 0 20%;
    }
    .smallFooter {
        display: inline-block;
    }

    .footerMenu {
        font-size: 1.1em;
    }
}
@media screen and (min-width: 601px){
    .burger-menu {
        display: none;
    }
    form {
        margin-left: 36%;
        margin-top: 4%;
    }
    button {
        padding: 0 6em;
    }
    .footerMenu {
        font-size: 1.6em;
    }
}
.burger-menu {
    cursor: pointer;
    font-size: 26px;
    margin: 10px;
}
.display-block {
    display: block;
}
/* End navigation bar */



/* Video Alric */

#videoChezAlriq{
    width: 80%;
    margin-left: 10%;
}

/* Main picture section */


#spotName h1 {
    margin-bottom: 10%;
}


/* Programmation Section CSS */

#programmation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.eventDescription {
    display: none;
}

.eventText {
    width: 15em;
}

.eventClick {
    height: 3em;
    width: 3em;
}

.dateEvent {
    font-weight: bold;
}

#event1photo, #event2photo, #event3photo {
    height: 15em;
    width: 15em
}
.eventTitle {
    font-size:1.5em;
}

/* End Programmation Section*/
h2 {
    text-align: center;
    font-size: 2.3em;
    margin-top: 6%;
}

#landingPicture {
    width: 100%;
    height: auto;
    text-align: center;
}

#bienvenue {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    margin-top:6%;
}

.spotName {
    text-align: center;
}

#contactSticky{
    position: -webkit-sticky;
    position: sticky;
    top : 2%;
}

/* Programmation Section CSS */

h1 {
    color: white;
    font-weight: bolder;
    font-size: 5em;
}

#mainPageLogo {
    display: table-cell;
    text-align: center;
}

#mainLogo {
    margin-left: 2500px;
    transition: margin-left 2s;
}

#delay:hover {
    font-size: 36px;
}

#imageRestauration {
    width: 80%;
    margin-left: 10%;
}

#histoire {
    text-align: center;
}

.date {
    font-weight: bold;
    margin-top:4%;
}

#notreHistoire {
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}
/* Restauration section */

.container {
    display: flex;
    justify-content : center
}

table {
    margin: 0 auto
    border: 2px solid black;
    width: 60%;
    font-size: 12pt;
}

th, td {
    border: 2 px solid black;
    border-collapse: collapse;
    text-align: center;
    font-family: "varela round", sans-serif;
    font-size: 25pt;
    border-radius: 3px;
}

/* Contact section */

#formulaire {
    margin-bottom: 10%;
}

#contactPresentation{
    text-align: center;
}

#demandeInformations {
    width: 90%;
    padding:1.3%;
    font-size: 2em;
    display: inline-block;
    background-color: #C5404D;
    color: beige;
    border: 1px solid black;
    border-radius: 8px;
    transition: width 1s;
}

#reservations {
    padding: 1.3%;
    width: 75%;
    font-size: 2em;
    color: #C5404D;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 8px;
    transition: width 1s;
}

.contactItems {
    margin-bottom: 1.1em;
}

#firstName {
    margin-top: 2em;
}

input, textarea, button {
    width: 24%;
    height: 2.7em;
    border-radius: 8px;
}

input{
    width: 40%;
}

textarea {
    width: 40%;
    height: 10%;
}

.contactTitles {
    font-size: 1.3em;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    font-size: 1.7em;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size: 1.7em;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size: 1.7em;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-size: 1.7em;
}

button {
    width: inherit;
    font-size: 1.3em;
    color: beige;
    margin-top: 2em;
    background-color: #C5404D;
}

/* End of contact section */

footer {
    background-color: #C5404D;
    padding: 2%;
    padding: 0.4%;
}

.footerMenu {
    text-decoration: none;
    color: beige;
    font-weight: bold;
}


.footerItemsNames {
    display: flex;
    justify-content: space-around;
    margin: 0.8%;
}

.footerItemsIcons {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5%;
    padding: 0.5%;
    border: solid white;
    border-radius: 40px;
}

#iconsContainer {
text-align: center;
}

.icon {
    width: 17%;
    height: auto;
    display: inline-block;
}